* {
  padding: 0;
  margin: 0;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  height: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

button {
  padding: 0.5rem;
}
